body{
	margin:0;
	background-image: linear-gradient( to right, #2E2E2E, #424242, #2E2E2E
	); }

#conteiner{
  display: inline-flex;
}

#menu ul{
	margin:0;
	list-style:none;
	background-color:#000000;
}

#menu ul li{
	display:inline;
}

#menu ul a{
	padding:8px 5px;
	display:inline-block;
  text-decoration:none;
	color:white;
  font-family: arial;
}

#menu ul a:hover{
	color:#00ff00;
	border-bottom:2px  solid #01DF01;
	margin-bottom:0px;
}

.img-cor{
  margin-top: 5%;
  margin-left: 10%;
  border: white solid 2px;
  border-radius: 10%;
}

.sobre-cor{
  font-size: 13px;
  color: white;
  font-family: arial;
  margin-left: 12%;
  margin-top: 2%;
}